<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/kendo.common.min.css" />
    <link rel="stylesheet" href="/stylesheets/kendo.custom.css" />

    <script src="/js/vendor/kendo/jquery.min.js"></script>
    <script src="/js/vendor/kendo/kendo.all.min.js"></script>
</head>
<body>

<div id="example">

    <div class="demo-section k-content" style="height: 100%">

        <h4>Details</h4>

        <div id="tabstrip-left">
            <ul>
                <li class="k-state-active">
                    Transcript
                </li>
                <li>
                    Summary
                </li>
                <li>
                    Sentiments
                </li>
                <li>
                    Tags
                </li>
            </ul>
            <div>
                <p><%= details.transcript %></p>
            </div>
            <div>
                <p>
                <ul>
                    <% for(var i in details.relations) { %>

                    <li>
                        <%= details.relations[i].subject.text +" "+ details.relations[i].action.text +" "+  details.relations[i].object.text; %>
                    </li>
                    <% } %>
                </ul>
                </p>
            </div>
            <div>
                <p><%= details.sentiments.docSentiment.type %></p>
            </div>
            <div>
                <p>
                <ul>
                    <% for(var i in details.coreconcepts.annotations) { %>

                    <li>
                        <%= details.coreconcepts.annotations[i].concept.label  %>
                    </li>
                    <% } %>
                </ul>
                </p>
            </div>
        </div>


    </div>
    <style>
        .demo-section * + h4 {
            margin-top: 2em;
        }

        .demo-section .k-tabstrip .k-content
        {
            height: 600px;

        }

    </style>
    <script>
        $(document).ready(function () {
            $("#tabstrip-left").kendoTabStrip({
                tabPosition: "left",
                animation: { open: { effects: "fadeIn" } }
            });

            $("#tabstrip-right").kendoTabStrip({
                tabPosition: "right",
                animation: { open: { effects: "fadeIn" } }
            });

            $("#tabstrip-bottom").kendoTabStrip({
                tabPosition: "bottom",
                animation: { open: { effects: "fadeIn" } }
            });
        });
    </script>
</div>


</body>
</html>