<!DOCTYPE html>
<html>

<head>
    <title>SmartMOM - Get Minutes of Meeting</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/styles/kendo.common.core.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styles/kendo.materialblack.min.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>

    <script src="/js/vendor/jquery-2.2.3.min.js"></script>
    <script src="/js/vendor/angular-1.5.3.js"></script>
    <script src="/js/vendor/angular-route.js"></script>
    <script src="/js/vendor/angular-recorder/dist/angular-audio-recorder.js"></script>
    <script src="/js/vendor/kendo/kendo.all.min.js"></script>
    <script src="/js/app.js"></script>

    <script src="/js/controllers/RecordingController.js"></script>
    <base href="/">
</head>

<body ng-app="SmartMOM">
<div class="container">
    <div ng-view>

    </div>
</div>
</body>

</html>
