/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #ffffff;
	width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

#featureWrap{
	padding-top: 60px;
	padding-bottom: 60px;
	background: url("../images/meetup12.jpg") center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container{
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 25px;
	position: relative;
}

.para{
	font-size: 35%;
}

.row{
	margin-left: -15px;
	margin-right: -15px;
}

.col-sm-3, .col-xs-12, .col-lg-2{
	float: left;
	position: relative;
	min-height: 1px;
}
.fa1{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 60px;
	text-rendering: auto;
	transform: translate(0, 0);
}

.faStop{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 40px;
	text-rendering: auto;
	transform: translate(0, 0);
}

.text-center{
	text-align: center;
}

#featureWrap .icon {
	background-color: #00a2eb;
	border: 8px solid #00a2eb;
	border-radius: 50%;
	color: #ffffff;
	display: block;
	font-size: 80px;
	height: 148px;
	line-height: 140px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 148px;
	transform-style: flat;
	transition: all 250ms ease-out;
}
#featureWrap .icon:hover {
	background-color: #0a8897;
	border: 8px solid #0a8897;
	border-radius: 50%;
	box-shadow: 0 15px 10px 10px #313f4a;
}

#featureWrap .icon:disabled{
	background-color: #bbbbbb;
	border: 8px solid #bbbbbb;
	border-radius: 50%;
}


#featureWrap .icon1:disabled {
	background-color: #bbbbbb;
	border: 8px solid #bbbbbb;
	border-radius: 50%;
	color: #ffffff;
	display: block;
	font-size: 80px;
	height: 148px;
	line-height: 140px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 148px;
}

#featureWrap .icon1{
	background-color: #00a2eb;
	border: 8px solid #00a2eb;
	border-radius: 50%;
	color: #ffffff;
	display: block;
	font-size: 80px;
	height: 148px;
	line-height: 140px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 148px;
}

#featureWrap .icon2:disabled {
	background-color: #bbbbbb;
	border: 8px solid #bbbbbb;
	border-radius: 50%;
	color: #ffffff;
	display: block;
	font-size: 80px;
	height: 148px;
	line-height: 140px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 148px;
}

#featureWrap .icon2{
	background-color: #00a2eb;
	border: 8px solid #00a2eb;
	border-radius: 50%;
	color: #ffffff;
	display: block;
	font-size: 80px;
	height: 148px;
	line-height: 140px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 148px;
}

.fa{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

*{
	box-sizing: border-box;
}



.file-item {
	margin-top: 1rem;
}

.file-list-author .file-list-filename .file-list-timestamp {
	color: #00a2eb;
	font-weight: bold;
}

.file-row {
	margin-top: 1.5rem;
	margin-bottom: 0.25rem;
	color: #00a2eb;
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.author {
	width: 15rem;
}

.filename {
	width: 15rem;
}

.created_on {
	width: 100%;
}