
<!-- HEADER HOME ############################################### -->
<section id="home">

    <div class="row">
        <div class="twelve columns">

            <h1 class="fade-it"><img alt="YOURLOGO" src="img/logo_header.png"></h1>

            <div class="fade-it ">
                <div class="roles">

                    <div>
                        We are Design
                    </div>

                    <div>
                        We are Code
                    </div>

                    <div>
                        We are Video
                    </div>

                    <div>
                        We are Friendly
                    </div>

                    <div>
                        We are what you need.
                    </div>

                </div>

            </div>

        </div>

        <!-- LITTLE LOGO SEE WHAT WE DO -->

        <div id="down_button" class="fade-it"><a href="#whatwedo"></a></div>

        <!-- END LITTLE LOGO SEE WHAT WE DO  -->

    </div>

</section>

<!-- END HEADER HOME ############################################### -->


<!-- NAVIGATION ############################################### -->

<!--
<div class="nav-container">

    <nav>
        <div id="logo"><a href="#"><img alt="YOURLOGO" src="img/logo_small.png"></a></div>
        <ul>

            <li><a href="#home" class="selected">Home</a></li>
            <li><a href="#whatwedo">What we do</a></li>
            <li><a href="#about">Who are us</a></li>
            <li><a href="#contact">Contact</a></li>

        </ul>


    </nav>

</div>


&lt;!&ndash; END NAVIGATION ############################################### &ndash;&gt;



&lt;!&ndash; WHAT WE DO SECTION ############################################### &ndash;&gt;

<section id="whatwedo">

    <div class="row">
        <div class="twelve columns centered">
            <h2>What we do.
                <i class="title_line"></i>
            </h2>
        </div>
    </div>


    <div class="row">
        <div class="eleven columns centered">
            <p class="subtittle" >See also great stuff on <a href="#">Behance</a>.</p>
        </div>
    </div>

    <div class="row">



        &lt;!&ndash; WORKS GRID &ndash;&gt;

        <ul id="og-grid" class="og-grid">

            <li>
                <a href="http://www.google.be" data-largesrc="http://www.placehold.it/1280x720" data-title="Name Of Project" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="http://www.placehold.it/250x185" alt="img01"/>
                </a>
            </li>

            <li>
                <a href="#" data-largesrc="http://www.placehold.it/1280x720" data-title="Name Of Project" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="http://www.placehold.it/250x185" alt="img01"/>
                </a>
            </li>

            <li>
                <a href="#" data-largesrc="http://www.placehold.it/1280x720" data-title="Name Of Project" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="http://www.placehold.it/250x185" alt="img01"/>
                </a>
            </li>

            <li>
                <a href="#" data-largesrc="http://www.placehold.it/1280x720" data-title="Name Of Project" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="http://www.placehold.it/250x185" alt="img01"/>
                </a>
            </li>

            <li>
                <a href="#" data-largesrc="http://www.placehold.it/1280x720" data-title="Name Of Project" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="http://www.placehold.it/250x185" alt="img01"/>
                </a>
            </li>

            <li>
                <a href="#" data-largesrc="http://www.placehold.it/1280x720" data-title="Name Of Project" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="http://www.placehold.it/250x185" alt="img01"/>
                </a>
            </li>

            <li>
                <a href="#" data-largesrc="http://www.placehold.it/1280x720" data-title="Name Of Project" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="http://www.placehold.it/250x185" alt="img01"/>
                </a>
            </li>

            <li>
                <a href="#" data-largesrc="http://www.placehold.it/1280x720" data-title="Name Of Project" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="http://www.placehold.it/250x185" alt="img01"/>
                </a>
            </li>

            <li>
                <a href="#" data-largesrc="http://www.placehold.it/1280x720" data-title="Name Of Project" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="http://www.placehold.it/250x185" alt="img01"/>
                </a>
            </li>

        </ul>

        &lt;!&ndash; END WORKS GRID &ndash;&gt;

    </div>

</section>

&lt;!&ndash; END WHAT WE DO SECTION ############################################### &ndash;&gt;



&lt;!&ndash; WHO ARE US SECTION ############################################### &ndash;&gt;

<section id="about">


    <div class="row">
        <div class="twelve columns centered">
            <h2>Who are us.
                <i class="title_line"></i>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="eleven columns centered">
            <p class="subtittle" >The most important thing to us is<br> building products people love.</p>
        </div>
    </div>

    <div class="row">
        <div class="three columns">
            <div class="portraits">
                <img alt="PORTRAITNAME" src="http://placehold.it/220x180"/>
                <span class="name">Francis Martinez</span><br/>
                <span class="poste">CEO / Founder</span><br/>
					<span class="whathedo">
						<a href=# target=_blank><i class=icon>L</i></a>
						<a href=# target=_blank><i class=icon>D</i></a>
						<a href=# target=_blank><i class=icon>I</i></a>
					</span>
            </div>
        </div>

        <div class="three columns">
            <div class="portraits">
                <img alt="PORTRAITNAME" src="http://placehold.it/220x180"/>
                <span class="name">John Stargasm</span><br/>
                <span class="poste">CTO / Founder</span><br/>
					<span class="whathedo">
						<a href=# target=_blank><i class=icon>F</i></a>
						<a href=# target=_blank><i class=icon>L</i></a>
					</span>
            </div>
        </div>

        <div class="three columns">
            <div class="portraits">
                <img alt="PORTRAITNAME" src="http://placehold.it/220x180"/>
                <span class="name">Lisa Simpsons</span><br/>
                <span class="poste">Creative Director</span><br/>
					<span class="whathedo">
						<a href=# target=_blank><i class=icon>L</i></a>
						<a href=# target=_blank><i class=icon>B</i></a>
					</span>
            </div>
        </div>

        <div class="three columns">
            <div class="portraits">
                <img alt="PORTRAITNAME" src="http://placehold.it/220x180"/>
                <span class="name">Jane Birkin</span><br/>
                <span class="poste">Video Director</span><br/>
					<span class="whathedo">
						<a href=# target=_blank><i class=icon>L</i></a>
						<a href=# target=_blank><i class=icon>V</i></a>
					</span>
            </div>
        </div>

    </div>

</section>

&lt;!&ndash; END WHO ARE US SECTION ############################################### &ndash;&gt;


&lt;!&ndash; CONTACT SECTION ############################################### &ndash;&gt;

<section id="contact">

    <div class="row">
        <div class="twelve columns centered">
            <h2>Contact.
                <i class="title_line"></i>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="eleven columns centered">
            <p class="subtittle" >We're currently accepting new client projects.<br> Think we might help? We'd love to hear from you.</p>
        </div>
    </div>

    <div class="row">

        <div class="seven columns">

            <form name="htmlform" method="post" action="form_sender.php">
                <input type="text" name="first_name" placeholder="YOUR LOVELY NAME" required>
                <input  type="email" name="email" placeholder="E-MAIL" required>
                <textarea name="comments" cols="1" rows="5" placeholder="TELL US EVERYTHING" required ></textarea>
                <button name="send" type="submit" class="submit">Alright</button>
            </form>

        </div>

        <div class="five columns info">

            <h4>Where to meet</h4>
            <br>
            <p>1000 Bruxelles</p>
            <p>Avenue Saint Pierre, 82	</p>
            <p>BELGIUM</p>

            <h4>New business</h4>
            <br>
            <p><a href="#">stuff@halfcreative.be</a></p>

            <h4>Employement</h4>
            <br>
            <p><a href="#">needmoney@halfcreative.be</a></p>


        </div>

    </div>

</section>


&lt;!&ndash; END CONTACT SECTION ############################################### &ndash;&gt;


&lt;!&ndash; TWITTER MODULE ############################################### &ndash;&gt;

<section id="twitter_module">

    <div class="row">
        <div class="twelve columns">
            <div id="ticker" class="query"></div>
        </div>
    </div>

</section>

&lt;!&ndash; END TWITTER MODULE ############################################### &ndash;&gt;


&lt;!&ndash; SOCIAL MODULE ############################################### &ndash;&gt;

<section id="social_module">

    <div class="row">
        <div class="twelve columns">

            <ul>
                <li><a href=# target=_blank><i class=icon>F</i></a></li>
                <li><a href=# target=_blank><i class=icon>L</i></a></li>
                <li><a href=# target=_blank><i class=icon>E</i></a></li>
                <li><a href=# target=_blank><i class=icon>O</i></a></li>
                <li><a href=# target=_blank><i class=icon>D</i></a></li>
            </ul>


        </div>
    </div>

</section>

&lt;!&ndash; END SOCIAL MODULE ############################################### &ndash;&gt;

-->
